<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=mike-sb\sqlexpress;initial catalog=LogSpy;integrated security=false;user id=appsvc;password=appsvc" />
    <commandText value="INSERT INTO [dbo].[Log] ([AppName],[MachineName],[RecordedDate],[Level],[Type],[IpAddress],[Host],[Url],[UserName],[HttpMethod],[Message],[Exception],[Payload]) VALUES (@appName, @machineName, @recordedDate, @level, @type, @ipAddress, @host, @url, @userName, @httpMethod, @message, @exception, @payload)" />
    <parameter>
      <parameterName value="@appName"/>
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{appName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@machineName"/>
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@recordedDate" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@level" />
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@type"/>
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{type}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ipAddress"/>
      <dbType value="String" />
      <size value="40" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ipAddress}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@host"/>
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%asnet-request{SERVER_NAME}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@url"/>
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%aspnet-request{URL}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@userName"/>
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{userName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@httpMethod"/>
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%aspnet-request{REQUEST_METHOD}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@payload"/>
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{payload}" />
      </layout>
    </parameter>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="AdoNetAppender" />
  </root>
</log4net>